<ion-header>
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-button (click)="agregar_personas()">
                <ion-icon name="people"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Kiosko</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="add()">
                <ion-icon name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="fondo"></div>
</ion-content>